.cards-container {
    height: 100%;
    width: auto;
    padding: 40px;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 5px 20px;
    background-image: linear-gradient(to right top, #622b78, #5b3b81, #554887, #51548b, #515e8d, #4e6893, #4c7298, #4e7b9c, #4788a4, #4595a8, #49a1aa, #56ada8);
}

.card-container:hover{
    background-color: rgba(255, 255, 255, 0.45);
  
  }